/* Header */
body {
    background: -moz-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%) no-repeat; /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,0,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%) no-repeat; /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
}

header{
    height: 90px;
    margin-bottom: 30px;
}
header a{
   color: #fff;
}

header a:hover{
    color: #E1F7E7;
    text-decoration: none;
}

header img {
    width: 10%;
}

/* Menu */
nav {
    padding-top: 1.50em;
}

nav li {
    padding-left: 20px;
}

/* Container */
.container {
    background: #fff;
    -moz-box-shadow: 0px 0px 10px 0px #656565;
    -webkit-box-shadow: 0px 0px 10px 0px #656565;
    -o-box-shadow: 0px 0px 10px 0px #656565;
    box-shadow: 0px 0px 10px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

/* Cars */
.card img {
    width: 100%;
    margin: 10px auto;
    border: 5px solid #fff;
    border-radius: 120px;
}

.card {
    background: none;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 0;
    border: none;
}

/* Button "Reserver" */
button a {
    color: #fff;
}
button a:hover {
    color: #fff;
    text-decoration: none;
}

/* Form */
form {
    padding: 100px 300px 400px 300px;
}

input {
    margin-bottom: 20px;
}


/* Footer */

footer {
    background-color: #000;
    margin-top: 30px;
;}



/* Media */
@media (max-width: 576px) {
    form {
        padding: 50px 50px 300px 50px;
    }

    .container {
        background: none;
        -moz-box-shadow: 0px 0px 0px 0px #656565;
        -webkit-box-shadow: 0px 0px 0px 0px #656565;
        -o-box-shadow: 0px 0px 0px 0px #656565;
        box-shadow: 0px 0px 0px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        background: none;
        -moz-box-shadow: 0px 0px 0px 0px #656565;
        -webkit-box-shadow: 0px 0px 0px 0px #656565;
        -o-box-shadow: 0px 0px 0px 0px #656565;
        box-shadow: 0px 0px 0px 0px #656565;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

}






