<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="{{ asset('img/eni-logo.png') }}" alt="Eni logo">
            </div>
            <div class="col-lg-4">
                <nav class="nav nav-bar">
                    <li><a href="{{ path('connexion') }}">Connexion </a></li>
                    |
                    <li><a href="">Deconnexion</a></li>
                </nav>
            </div>
        </div>
    </div>
</header>